@charset "utf-8";

/* ----------------------------------
Variablen
------------------------------------- */


:root {
  /* Farben */

  --line-color: #000;
  --bg-color: #fac585;
  --secondary-color: #d3af92;
  --font-color: #000;
  --headline: #70300b;
  --backend-color: #f9dbd0;


  /*groessen*/

  --spacer: 1rem;

}

